In [2]:
import pandas as pd 
import numpy as np

In [6]:
billboard = pd.read_csv(r"C:\Users\sonia\Desktop\scipy-2019-pandas\data\billboard.csv")
billboard.head()

,year,artist,track,time,date.entered,wk1,wk2,wk3,wk4,wk5,...,wk67,wk68,wk69,wk70,wk71,wk72,wk73,wk74,wk75,wk76
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,87,82.0,72.0,77.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,91,87.0,92.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,81,70.0,68.0,67.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,3 Doors Down,Loser,4:24,2000-10-21,76,76.0,72.0,69.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,57,34.0,25.0,17.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#FAMILIARISE WITH THE DATASET
billboard.values

array([[2000, '2 Pac', "Baby Don't Cry (Keep...", ..., nan, nan, nan],
       [2000, '2Ge+her', 'The Hardest Part Of ...', ..., nan, nan, nan],
       [2000, '3 Doors Down', 'Kryptonite', ..., nan, nan, nan],
       ...,
       [2000, 'Ying Yang Twins', 'Whistle While You Tw...', ..., nan,
        nan, nan],
       [2000, 'Zombie Nation', 'Kernkraft 400', ..., nan, nan, nan],
       [2000, 'matchbox twenty', 'Bent', ..., nan, nan, nan]],
      dtype=object)

In [8]:
billboard.columns

Index(['year', 'artist', 'track', 'time', 'date.entered', 'wk1', 'wk2', 'wk3',
       'wk4', 'wk5', 'wk6', 'wk7', 'wk8', 'wk9', 'wk10', 'wk11', 'wk12',
       'wk13', 'wk14', 'wk15', 'wk16', 'wk17', 'wk18', 'wk19', 'wk20', 'wk21',
       'wk22', 'wk23', 'wk24', 'wk25', 'wk26', 'wk27', 'wk28', 'wk29', 'wk30',
       'wk31', 'wk32', 'wk33', 'wk34', 'wk35', 'wk36', 'wk37', 'wk38', 'wk39',
       'wk40', 'wk41', 'wk42', 'wk43', 'wk44', 'wk45', 'wk46', 'wk47', 'wk48',
       'wk49', 'wk50', 'wk51', 'wk52', 'wk53', 'wk54', 'wk55', 'wk56', 'wk57',
       'wk58', 'wk59', 'wk60', 'wk61', 'wk62', 'wk63', 'wk64', 'wk65', 'wk66',
       'wk67', 'wk68', 'wk69', 'wk70', 'wk71', 'wk72', 'wk73', 'wk74', 'wk75',
       'wk76'],
      dtype='object')

In [12]:
billboard.index

RangeIndex(start=0, stop=317, step=1)

In [14]:
billboard.shape

(317, 81)

In [19]:
#EACH ROW AN OBSERVATION EACH COLUMNA VARIABLE 
billboard_melt = pd.melt(billboard,
                         id_vars = ["year", "artist","track", "time", "date.entered"],
                        var_name = "week",
                         value_name = "ratings" )
billboard_melt

,year,artist,track,time,date.entered,week,ratings
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk1,87.0
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,wk1,91.0
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,wk1,81.0
3,2000,3 Doors Down,Loser,4:24,2000-10-21,wk1,76.0
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,wk1,57.0
...,...,...,...,...,...,...,...
24087,2000,Yankee Grey,Another Nine Minutes,3:10,2000-04-29,wk76,NaN
24088,2000,"Yearwood, Trisha",Real Live Woman,3:55,2000-04-01,wk76,NaN
24089,2000,Ying Yang Twins,Whistle While You Tw...,4:19,2000-03-18,wk76,NaN
24090,2000,Zombie Nation,Kernkraft 400,3:30,2000-09-02,wk76,NaN
24091,2000,matchbox twenty,Bent,4:12,2000-04-29,wk76,NaN

In [22]:
billboard_melt.values

array([[2000, '2 Pac', "Baby Don't Cry (Keep...", ..., '2000-02-26',
        'wk1', 87.0],
       [2000, '2Ge+her', 'The Hardest Part Of ...', ..., '2000-09-02',
        'wk1', 91.0],
       [2000, '3 Doors Down', 'Kryptonite', ..., '2000-04-08', 'wk1',
        81.0],
       ...,
       [2000, 'Ying Yang Twins', 'Whistle While You Tw...', ...,
        '2000-03-18', 'wk76', nan],
       [2000, 'Zombie Nation', 'Kernkraft 400', ..., '2000-09-02',
        'wk76', nan],
       [2000, 'matchbox twenty', 'Bent', ..., '2000-04-29', 'wk76', nan]],
      dtype=object)

In [23]:
billboard_melt.columns

Index(['year', 'artist', 'track', 'time', 'date.entered', 'week', 'ratings'], dtype='object')

In [24]:
billboard_melt.describe()

          year      ratings
count  24092.0  5307.000000
mean    2000.0    51.052384
std        0.0    28.966198
min     2000.0     1.000000
25%     2000.0    26.000000
50%     2000.0    51.000000
75%     2000.0    76.000000
max     2000.0   100.000000

In [27]:
billboard_melt.isna()

        year  artist  track   time  date.entered   week  ratings
0      False   False  False  False         False  False    False
1      False   False  False  False         False  False    False
2      False   False  False  False         False  False    False
3      False   False  False  False         False  False    False
4      False   False  False  False         False  False    False
...      ...     ...    ...    ...           ...    ...      ...
24087  False   False  False  False         False  False     True
24088  False   False  False  False         False  False     True
24089  False   False  False  False         False  False     True
24090  False   False  False  False         False  False     True
24091  False   False  False  False         False  False     True

[24092 rows x 7 columns]

In [28]:
billboard_melt.isna().value_counts()

year   artist  track  time   date.entered  week   ratings
False  False   False  False  False         False  True       18785
                                                  False       5307
dtype: int64

In [31]:
billboard_melt.fillna("MISSING", inplace = True )
billboard_melt

,year,artist,track,time,date.entered,week,ratings
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk1,87.0
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,wk1,91.0
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,wk1,81.0
3,2000,3 Doors Down,Loser,4:24,2000-10-21,wk1,76.0
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,wk1,57.0
...,...,...,...,...,...,...,...
24087,2000,Yankee Grey,Another Nine Minutes,3:10,2000-04-29,wk76,MISSING
24088,2000,"Yearwood, Trisha",Real Live Woman,3:55,2000-04-01,wk76,MISSING
24089,2000,Ying Yang Twins,Whistle While You Tw...,4:19,2000-03-18,wk76,MISSING
24090,2000,Zombie Nation,Kernkraft 400,3:30,2000-09-02,wk76,MISSING
24091,2000,matchbox twenty,Bent,4:12,2000-04-29,wk76,MISSING

In [36]:
billboard_melt.replace('MISSING', 0, inplace =True )
billboard_melt

,year,artist,track,time,date.entered,week,ratings
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk1,87.0
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,wk1,91.0
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,wk1,81.0
3,2000,3 Doors Down,Loser,4:24,2000-10-21,wk1,76.0
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,wk1,57.0
...,...,...,...,...,...,...,...
24087,2000,Yankee Grey,Another Nine Minutes,3:10,2000-04-29,wk76,0.0
24088,2000,"Yearwood, Trisha",Real Live Woman,3:55,2000-04-01,wk76,0.0
24089,2000,Ying Yang Twins,Whistle While You Tw...,4:19,2000-03-18,wk76,0.0
24090,2000,Zombie Nation,Kernkraft 400,3:30,2000-09-02,wk76,0.0
24091,2000,matchbox twenty,Bent,4:12,2000-04-29,wk76,0.0

In [39]:
billboard_melt.drop_duplicates()

,year,artist,track,time,date.entered,week,ratings
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk1,87.0
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,wk1,91.0
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,wk1,81.0
3,2000,3 Doors Down,Loser,4:24,2000-10-21,wk1,76.0
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,wk1,57.0
...,...,...,...,...,...,...,...
24087,2000,Yankee Grey,Another Nine Minutes,3:10,2000-04-29,wk76,0.0
24088,2000,"Yearwood, Trisha",Real Live Woman,3:55,2000-04-01,wk76,0.0
24089,2000,Ying Yang Twins,Whistle While You Tw...,4:19,2000-03-18,wk76,0.0
24090,2000,Zombie Nation,Kernkraft 400,3:30,2000-09-02,wk76,0.0
24091,2000,matchbox twenty,Bent,4:12,2000-04-29,wk76,0.0

In [41]:
billboard_melt.shape

(24092, 7)